<div
  class="canvas"
  (mouseup)="onMouseUp($event)"
  (mousemove)="onMouseMove($event)"
  #canvas
>
  <div
    class="image-container border-secondary"
    [ngClass]="{ 'border-secondary': previewMode === 'edit' }"
    *ngFor="let img of slide.images; let i = index"
    [style.left.%]="img.position.left"
    [style.top.%]="img.position.top"
    [style.width.%]="img.position.width"
    [style.height.%]="img.position.height"
  >
    <img class="image-q" [src]="img.imageSource" alt="img" />
    <ng-container *ngIf="previewMode === 'edit'">
      <div
        class="image-move bg-warning"
        (mousedown)="onMoveMouseDownOnImage($event, img, i)"
      >
        <i class="fa fa-arrows"></i>
      </div>
      <div
        class="image-change-size bg-warning"
        (mousedown)="onResizeMouseDownOnImage($event, img, i)"
      >
        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
      </div>
      <div class="image-delete bg-danger" (click)="onDeleteImage($event, i)">
        <i class="fa fa-trash"></i>
      </div>
    </ng-container>
  </div>

  <div
    class="patch"
    *ngFor="let patch of slide.patches; let i = index"
    [ngClass]="{ 'editing': previewMode === 'edit' }"
    [style.left.%]="patch.position.left"
    [style.top.%]="patch.position.top"
    [style.width.%]="patch.position.width"
    [style.height.%]="patch.position.height"
  >
    <ng-container *ngIf="previewMode === 'edit'">
      <div
        class="patch-move bg-warning"
        (mousedown)="onMoveMouseDownOnPatch($event, patch, i)"
      >
        <i class="fa fa-arrows"></i>
      </div>
      <div
        class="patch-change-size bg-warning"
        (mousedown)="onResizeMouseDownOnPatch($event, patch, i)"
      >
        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
      </div>
      <div class="patch-delete bg-danger" (click)="onDeletePatch($event, i)">
        <i class="fa fa-trash"></i>
      </div>
    </ng-container>
  </div>
  <div
    class="shadow-patch"
    *ngIf="isPatchResizing || isPatchMoving"
    #shadowPatch
  ></div>
  <div
    class="shadow-image"
    *ngIf="isImageMoving || isImageResizing"
    #shadowImage
  ></div>
</div>
