@import 'shared/styles/shared-style.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.purple-ball,
.cyan-ball,
.yellow-ball,
.amber-ball {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-top: -0.4rem;
  margin-right: 0.5rem;
}

.purple-ball {
  background-color: $purple-team;
}

.yellow-ball {
  background-color: $yellow-team;
  border: 1px #353535 solid;
}

.cyan-ball {
  background-color: $cyan-team;
  border: 1px #353535 solid;
}

.amber-ball {
  background-color: $amber-team;
  border: 1px #353535 solid;
}

.purple-color {
  color: $purple-team;
}

.yellow-color {
  color: $yellow-team;
}

.cyan-color {
  color: $cyan-team;
}

.amber-color {
  color: $amber-team;
}

.stroked{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.16);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
