<ng-container *ngIf="(ps.gameStateSub | async) as gameState else loading">
  <div class="main-container">
    <div class="header">
      <div class="name-wrapper" (click)="changeName(gameState.myName)">{{gameState.myName || 'E-button'}}</div>
      <div class="icon-wrapper" (click)="changeTeam()"><img alt="Team" src="assets/icons/user-group-solid.svg" width="20"></div>
    </div>
    <div class="body-container">
      <app-bubbles></app-bubbles>
      <app-my-team [team]="gameState.myTeam"></app-my-team>
      <app-actions-and-info [gameState]="gameState" (onPush)="answer()" (onChangeTeam)="changeTeam()"></app-actions-and-info>

    </div>
  </div>
</ng-container>
<ng-template #loading>Loading...</ng-template>


