<ng-container *ngIf="(selectPlayerState | async) as gameState else loading">
  <div class="main-container">
    <div class="header">
      <div class="name-wrapper">{{gameState.myName || 'E-button'}}</div>
      <div class="icon-wrapper" (click)="openMenu()"><i class="fa fa-cog"></i></div>

    </div>
    <div class="body-container">
      <app-bubbles></app-bubbles>
      <app-my-team></app-my-team>
      <app-actions-and-info></app-actions-and-info>

    </div>
  </div>
</ng-container>
<ng-template #loading>Loading... Reload page if nothing happens
</ng-template>


