<div class="card bg-dark h-100 w-100">
  <div class="card-body h-100">
    <div class="slides" *ngIf="getTypedSlides(slides | async) as slides">
      <ng-container *ngFor="let slide of slides; let i = index">
        <div class="slide-container" (click)="setCurrentSlide(i)">
          <div class="slide-index bg-warning">{{ i + 1 }}</div>
          <ng-container [ngSwitch]="slide.type">
            <ng-container *ngSwitchCase="slideTypes.questionWithImage">
              <app-ratio-box-viewer
                [slide]="getCastedSlide(slide)"
                [previewMode]="'question'"
              ></app-ratio-box-viewer>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.questionWithAudio">
              <i class="slide-icon fas fa-music"></i>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.info">
              <i class="slide-icon fas fa-info"></i>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.break">
              <i class="slide-icon fas fa-pause"></i>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.round">
              <i class="slide-icon fa-regular fa-flag"></i>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.result">
              <i class="slide-icon fas fa-medal"></i>
            </ng-container>

          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
