<div class="card h-100">
  <div class="card-header">
    <h5 class="card-title">
      Game
    </h5>
  </div>
  <div class="card-body h-100">
    <!--    <ng-container  *ngIf="gameService.gameStateSub | async as gameState">-->
    <ng-container *ngIf="gameService.phaseSub | async as phase">

      <ng-container *ngIf="phase.type === GamePhaseType.PAUSE">
        <button class="btn btn-success" (click)="startQuestion()">START</button>
      </ng-container>

      <ng-container *ngIf="phase.type === GamePhaseType.ASKING">
        <button class="btn btn-secondary" (click)="skipQuestion()">SKIP</button>
      </ng-container>

      <ng-container *ngIf="phase.type === GamePhaseType.ANSWERING">
        {{phase.answering}}
        <div class="row">
          <div class="col-6 d-flex flex-column">
            <button class="btn btn-success mt-2" (click)="answerResult(true,false, 15)">+15</button>
            <button class="btn btn-success mt-2" (click)="answerResult(true,false, 10)">+10</button>
            <button class="btn btn-success mt-2" (click)="answerResult(true,true, 5)">+5</button>
            <button class="btn btn-success mt-2" (click)="answerResult(true,true, 3)">+3</button>
            <button class="btn btn-success mt-2" (click)="answerResult(true,true, 1)">+1</button>
          </div>
          <div class="col-6 d-flex flex-column">
            <button class="btn btn-danger mt-2" (click)="answerResult(false,true, 0)">0</button>
            <button class="btn btn-danger mt-2" (click)="answerResult(false,true, -5)">-1</button>
            <button class="btn btn-danger mt-2" (click)="answerResult(false,true, -5)">-3</button>
            <button class="btn btn-danger mt-2" (click)="answerResult(false,true, -5)">-5</button>
            <button class="btn btn-danger mt-2" (click)="answerResult(false,true, -10)">-10</button>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <!--    </ng-container>-->

  </div>
</div>
