.record{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  height: 1.1rem;
}
.wrapper{
  display: flex;
  flex-direction: column-reverse;
  max-height: 100%;
  align-content: center;
  align-items: stretch;
  overflow: auto;
}
