<div class="card h-100">
  <div class="card-header">
    <h5 class="card-title">Log</h5>
  </div>
  <div class="card-body h-100 wrapper">
    <div  *ngFor="let record of log" class="record">
      <div class="description"  [ngSwitch]="record.type">
        <ng-template [ngSwitchCase]="LogType.NewPlayer">
          {{record.description[0]}} joined!
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.GoOnline">
          {{record.description[0]}} is online.
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.GoOffline">
          {{record.description[0]}} is offline.
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.JoinTeam">
          {{record.description[0]}} joined {{record.description[1]}}
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.PlayerAnswer">
          {{record.description}} pushed the button
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.LateForAnswer">
          {{record.description}} pushed the button too late
        </ng-template>
        <ng-template [ngSwitchCase]="LogType.AnswerResult">
          Answer is {{record.description[0]}}: {{record.description[1]}} points
        </ng-template>
      </div>
      <div class="time"> {{record.date | date: 'HH:mm:ss'}}</div>
    </div>
  </div>
</div>
