.score-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;

  .team {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .points {
      font-weight: bolder;
    }
  }

  .actions {
    button{
      height: 1.5rem;
    }
  }
}
