<div class="game-play-block bg-secondary">
  <nav class="navbar navbar-dark bg-dark">
    <span class="p-1 bg-dark navbar-brand text-warning ms-2">{{
      selectGameName | async
    }}</span>
    <div class="btn-group me-3">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          Network
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let net of netList" (click)="selectNet(net.ip[0])">{{net.title}}</button>
        </div>
    </div>
      <button class="btn btn-outline-primary" title="Скопировать удаленный адрес" [disabled]="!selectedNet" (click)="copyRemoutScreen()"><i class="fa-solid fa-clipboard me-1"></i> <i class="fa-solid fa-computer"></i></button>
      <button class="btn btn-outline-primary" title="Скопировать локальный адрес" [disabled]="!selectedNet" (click)="copyLocalScreen()"><i class="fa-solid fa-clipboard me-1"></i> <i class="fa-solid fa-network-wired"></i></button>
      <button class="btn btn-outline-primary" title="Показать QR-код" [disabled]="!selectedNet" (click)="sendConnectInfo()"><i class="fa fa-qrcode me-1"></i> <i class="fa-solid fa-arrow-up-from-bracket"></i> </button>
      <button class="btn btn-outline-primary" title="Скрыть QR-код" (click)="clearConnectInfo()"><i class="fa fa-qrcode me-1"></i> <i class="fa fa-times"></i></button>
    </div>
  </nav>
  <ng-container *ngIf="!(selectConfig | async)">
    <app-init-config></app-init-config>
  </ng-container>
  <ng-container>
    <div class="row h-100 m-3" *ngIf="selectConfig | async">
      <div class="col-3 h-100">
        <app-sound-board></app-sound-board>
      </div>
      <div class="col-4 h-100">
        <div class="card border-warning h-100 bg-dark text-light">
          <app-game-vitals class="px-2"></app-game-vitals>
          <app-curent-slide class="px-2"> </app-curent-slide>
          <app-lead-buttons class="px-2 mb-1"></app-lead-buttons>
        </div>
      </div>
      <div class="col-2 h-100">
        <app-fight-list></app-fight-list>
      </div>
      <div class="col-3 h-100">
        <app-team-board></app-team-board>
      </div>
    </div>
  </ng-container>
</div>
