<div class="game-play-block bg-secondary">
  <nav class="navbar navbar-dark bg-dark">
    <span class="p-1 bg-dark navbar-brand text-warning ms-2">{{
      selectGameName | async
    }}</span>
  </nav>
  <ng-container *ngIf="!(selectConfig | async)">
    <app-init-config></app-init-config>
  </ng-container>
  <ng-container>
    <div class="row h-100 m-3" *ngIf="selectConfig | async">
      <div class="col-3 h-100">
        <app-sound-board></app-sound-board>
      </div>
      <div class="col-4 h-100">
        <div class="card border-warning h-100 bg-dark text-light">
          <app-game-vitals class="px-2"></app-game-vitals>
          <app-curent-slide class="px-2"> </app-curent-slide>
          <app-lead-buttons class="px-2 mb-1"></app-lead-buttons>
        </div>
      </div>
      <div class="col-2 h-100">
        <app-fight-list></app-fight-list>
      </div>
      <div class="col-3 h-100">
        <app-team-board></app-team-board>
      </div>
    </div>
  </ng-container>
</div>
