<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h5 class="m-0">Config</h5>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <label for="freeze-time" class="form-label">Freeze time</label>
      <div class="input-group">
        <input type="number" [formControlName]="'wrongAnswerFreezeTimeSec'" class="form-control" id="freeze-time"
               aria-describedby="freeze-help">
        <span class="input-group-text">sec</span>
      </div>
      <div id="emailHelp" class="form-tex mb-4">Freeze time in seconds after wrong answer</div>
      <div>
        <div class="form-check">
          <input class="form-check-input" [formControlName]="'onlyOneAnswer'" type="checkbox" id="one-answer">
          <label class="form-check-label" for="one-answer">
            Only one answer
          </label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" [formControlName]="'forbidTeamChanging'" type="checkbox" id="change-team">
          <label class="form-check-label" for="change-team">
            Forbid change team
          </label>
        </div>
      </div>
      <div class="card-subtitle mb-2"><b>Teams in game</b></div>
      <div [formArrayName]="'teams'">
        <div *ngFor="let team of allTeams; let i = index" class="team-option">
          <input type="checkbox" [formControlName]="i" class="form-check-input" id="team-{{i}}}"
                 aria-describedby="freeze-help">
          <label for="team-{{i}}" class="form-check-label teams-label">
            <div [ngClass]="{
                    purple: team === Teams.PURPLE,
                    yellow: team === Teams.YELLOW,
                    cyan: team === Teams.CYAN,
                    amber: team === Teams.AMBER
                            }" class="circle"></div>
            <div class="name">{{ team }}</div>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
