@import "../../node_modules/bootstrap/scss/functions";
@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./colors";

@import "shared/styles/shared-style.scss";

$purple-team: #6610F2FF;
$yellow-team: #FFC107FF;
$cyan-team: #0DCAF0FF;
$amber-team: #FD7E14FF;

// 2. Include any default variable overrides here
body, html {
  height: 100%;
}
::-webkit-scrollbar-track
{
  border-radius: 50%;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #747474;
}

.purple, .cyan, .yellow, .amber, .lobby{
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.purple{
  background-color: $purple-team;
}

.yellow{
  background-color: $yellow-team;
  border: 1px #353535 solid;
}

.cyan{
  background-color: $cyan-team;
  border: 1px #353535 solid;
}

.amber {
  background-color: $amber-team;
  border: 1px #353535 solid;
}

.lobby {
  background-color: #F5F5F5;
  border: 1px #353535 solid;
}
.tab-pane{
  height: 100% ;
}
.tab-content{
  height: calc(100% - 42px);
}

.ratio-box{
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 56.25%; /* Set the height equal to 9/16 of the width */
  }
}
