.editor-layout {
  width: 100%;
  height: 100%;
}

.header-block {
  display: flex;
  flex-direction: column;
}

.main-block {
  height: calc(100% - 120px);
  display: flex;
}

.w-20 {
  width: 12%;
}

.w-80 {
  width: 88%;
}
