.editor {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.canvas {
  height: 100%;
  width: 80%;
  border: 1px solid #266100;

  .image-container {
    //height: 100%;
    //width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image {
      max-height: 100%;
      max-width: 100%;
    }

    .patch {
      position: absolute;
      background-color: rgba(255, 255, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.5);

      .patch-move {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: red;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: move;
      }

      .patch-change-size {
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: black;
        bottom: -6px;
        right: -6px;
        cursor: nwse-resize;
      }
    }

    .shadow-patch {
      position: absolute;
      border: 2px dashed #3a3a3a;
      background-color: rgba(58, 58, 58, 0.1);
      cursor: move;
      z-index: 10;
      animation: border-animation 1s ease-in-out infinite;
    }
    @keyframes border-animation {
      0% {
        border-color: #3a3a3a;
      }
      50% {
        border-color: #ff0000;
      }
      100% {
        border-color: #3a3a3a;
      }
    }
  }
}

.tools {
  width: 20%;
}


.ratio-box {
  position: relative;
  width: 100%;

  &:before {
    content: "";
    display: block;
    padding-top: 56.25%; /* Set the height equal to 9/16 of the width */
  }

  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Maintain original proportions without cropping */
  }
}
