.editor {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.canvas {
  height: 100%;
  width: 80%;

  .image-container {
    //height: 100%;
    //width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image {
      max-height: 100%;
      max-width: 100%;
    }


  }
}

.tools {
  width: 20%;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}


$gradient-colors: #ff00ff, #00ff00, #00ffff, #ff0000, #ffff00, #ff8000, #ff0080, #ff80ff, #00ff80;
$animation-duration: 4s;
$animation-pulse-duration: 0.3s; /* Updated pulse duration */
$animation-pulse-delay: 0.15s; /* Updated pulse delay */
$background-size: 1500% 1500%;

.background {
  height: 100vh;
  background: radial-gradient(circle, $gradient-colors);
  background-size: $background-size;
  animation: gradientAnimation $animation-duration infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-family: Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ff00ff;
  text-shadow: 0 0 10px #00ff00;
  animation: labelAnimation $animation-duration infinite;
}

.additional-element {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  animation: additionalElementAnimation $animation-pulse-duration infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes labelAnimation {
  0% {
    color: #ff00ff;
    text-shadow: 0 0 10px #00ff00;
    transform: scale(1);
  }
  50% {
    color: #00ff00;
    text-shadow: none;
    transform: scale(1.1);
  }
  100% {
    color: #ff00ff;
    text-shadow: 0 0 10px #00ff00;
    transform: scale(1);
  }
}

@keyframes additionalElementAnimation {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.2) translate(20px, 20px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.phonk-beat {
  animation: phonkBeatAnimation $animation-pulse-duration infinite;
}

@keyframes phonkBeatAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.label,
.additional-element {
  animation-timing-function: steps(2);
}

.additional-element:nth-child(2n) {
  animation-delay: $animation-pulse-delay;
}









