<div class="card bg-dark h-100">
  <div class="card-body">
    <div class="editor">
      <div class="canvas">
        <ng-container *ngIf="currentSlide | async as slide">
          {{ slide.type === slideTypes.questionWithAudio | json }}
          <ng-container [ngSwitch]="slide.type">
            <ng-container *ngSwitchCase="slideTypes.questionWithImage">
              <app-ratio-box-viewer
                [previewMode]="(editorState | async).viewMode"
                [slide]="getCastedImageSlide(slide)"
                (slideChange)="saveSlide($event)"
              ></app-ratio-box-viewer>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.info">
              <app-info-editor
                [edit]="(editorState | async).viewMode === 'edit'"
                [slide]="getCastedInfoSlide(slide)"
                (slideChange)="saveSlide($event)"
              ></app-info-editor>
            </ng-container>
            <ng-container *ngSwitchCase="slideTypes.questionWithAudio">
              <app-audio-editor
                [slide]="getCastedAudioSlide(slide)"
                (slideChange)="saveSlide($event)"
              ></app-audio-editor>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <app-editor-toolbar></app-editor-toolbar>
    </div>
  </div>
</div>
