.editor {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.canvas {
  height: 100%;
  width: 80%;

  .image-container {
    //height: 100%;
    //width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image {
      max-height: 100%;
      max-width: 100%;
    }


  }
}

.tools {
  width: 20%;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}












