<div class="editor">
  <div class="canvas" *ngIf="currentSlide | async as slide">
    <ng-container [ngSwitch]="slide.type">
      <ng-container *ngSwitchCase="slideTypes.questionWithImage">
        <div class="image-container ratio-box" #imageContainer (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)">
        <img class="image" [src]="slide.imageCoded" alt="img" />

          <div
            class="patch"
            *ngFor="let patch of slide.patches; let i = index"
            [style.left.%]="patch.leftInPercent"
            [style.top.%]="patch.topInPercent"
            [style.width.%]="patch.widthInPercent"
            [style.height.%]="patch.heightInPercent"

          >
            <div
              class="patch-move"
              (mousedown)="onMoveMouseDown($event, patch, i)"
            ></div>
            <div
              class="patch-change-size"
              (mousedown)="onResizeMouseDown($event, patch, i)"
            ></div>
          </div>
          <div class="shadow-patch" *ngIf="isMoving || isResizing" #shadowPatch></div>

        </div>
      </ng-container>
    </ng-container>
  </div>

    <div class="card tools">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>Создать слайд</div>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="createSlide(slideTypes.info)">Info</button>
            <button type="button" class="btn btn-secondary" (click)="createSlide(slideTypes.break)">break</button>
          </div>
        </li>
        <li class="list-group-item" *ngIf="currentSlide | async as slide">
          <div>Текущий слайд</div>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" (click)="moveSlide('up')">Вверх</button>
            <button type="button" class="btn btn-secondary" (click)="moveSlide('down')">Вниз</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-danger" (click)="deleteSlide()">Удалить</button>
          </div>
        </li>
<!--        <ng-container *ngIf="currentSlide | async as slide">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            *ngIf="slide.type === slideTypes.questionWithImage"-->
<!--          >-->
<!--            <div>Патчи</div>-->
<!--            <button class="btn btn-success w-100" (click)="addPatch()">-->
<!--              Добавить-->
<!--            </button>-->
<!--            <button-->
<!--              *ngFor="let patch of slide.patches; let i = index"-->
<!--              class="btn btn-danger w-100 mt-2"-->
<!--              (click)="deletePatch(i)"-->
<!--            >-->
<!--              Удалить-->
<!--            </button>-->
<!--          </li>-->
<!--        </ng-container>-->
        <ng-container *ngIf="currentSlide | async as slide">
          <li
            class="list-group-item"
            *ngIf="slide.type === slideTypes.questionWithImage"
          >
            <div>Патчи</div>
            <button class="btn btn-success w-100" (click)="addPatch()">
              Добавить
            </button>
            <button
              *ngFor="let patch of slide.patches; let i = index"
              class="btn btn-danger w-100 mt-2"
              (click)="deletePatch(i)"
            >
              Удалить
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- ... -->


</div>
