@use 'shared/styles/shared-style' as *;

:host{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1% 10%;
}

.ask{
  background-color: black;
}

.purple{
  background-color: $purple-team;
}

.yellow{
  background-color: $yellow-team;
}

.cyan{
  background-color: $cyan-team;
}

.amber{
  background-color: $amber-team;
}

.answer{
  background-color: wheat;
}
