<ng-container *ngIf="slide | async as slide">
  <ng-container *ngIf="phase | async as phase">
    <app-question-title
      *ngIf="phase === playPhases.QUESTION_TITLE"
    ></app-question-title>
    <app-quesrion-countdown
      *ngIf="phase === playPhases.QUESTION_COUNTDOWN"
    ></app-quesrion-countdown>

    <div *ngIf="phase === playPhases.QUESTION_ASK" class="ask box-wrapper">
      <app-ratio-box-viewer
        [slide]="slide"
        [previewMode]="'question'"
      ></app-ratio-box-viewer>
    </div>

    <app-question-fight [fight]="fight | async"
      *ngIf="phase === playPhases.QUESTION_FIGHT"
    ></app-question-fight>

    <ng-container *ngIf="phase === playPhases.QUESTION_LISTENING">
      <div
        *ngIf="questionAnswerState | async as questionAnswerState"
        class="box-wrapper"
        [ngClass]="{
          purple: questionAnswerState.answeringTeam === teamColors.PURPLE,
          yellow: questionAnswerState.answeringTeam === teamColors.YELLOW,
          cyan: questionAnswerState.answeringTeam === teamColors.CYAN,
          amber: questionAnswerState.answeringTeam === teamColors.AMBER
        }"
      >
        <app-ratio-box-viewer
          [slide]="slide"
          [previewMode]="'question'"
        ></app-ratio-box-viewer>
      </div>
    </ng-container>

    <app-question-verdict
      *ngIf="phase === playPhases.QUESTION_VERDICT"
      [questionAnswerState]="questionAnswerState | async"
    ></app-question-verdict>

    <div *ngIf="phase === playPhases.QUESTION_ANSWER_SHOW" class="box-wrapper answer">
      <app-ratio-box-viewer
        [slide]="slide"
        [previewMode]="'answer'"
      ></app-ratio-box-viewer>
    </div>
  </ng-container>
</ng-container>
