<div class="wrapper">
  <ng-container *ngIf="myTeam | async; else lobby">
    <ng-container>
      <ng-container [ngSwitch]="phase | async">
        <ng-container *ngSwitchCase="phases.PAUSE">
          <div class="wrapper first-plan">
            <div class="wait circle rounding">
              <img
                class="spin"
                src="assets/icons/hourglass-regular.svg"
                width="60"
                alt=""
              />
            </div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="phases.ASKING">
          <div class="wrapper first-plan">
            <button class="btn circle btn-danger answer" (click)="answer()">
              PUSH
            </button>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="phases.ANSWERING">
          <ng-container *ngIf="isMyTeamAnswering | async">
            <div class="wrapper first-plan">
              <div class="answering circle bounce">
                <div class="m-1">answer</div>
                <img
                  src="assets/icons/comment-dots-regular.svg"
                  width="30"
                  alt=""
                />
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!(isMyTeamAnswering | async)">
            <div class="wrapper first-plan">
              <div class="answering-wait circle rounding">
                <div class="d-flex flex-column">
                  <div class="answering-wait-content">
                    <div
                      *ngIf="answeringTeam | async as answeringTeam"
                      [ngClass]="{
                        purple: answeringTeam === Teams.PURPLE,
                        yellow: answeringTeam === Teams.YELLOW,
                        cyan: answeringTeam === Teams.CYAN,
                        amber: answeringTeam === Teams.AMBER
                      }"
                    ></div>
                    {{ answeringTeam | async }}
                  </div>

                  <div class="">is answering</div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="phases.ANSWER_RESULT">
          <div class="wrapper first-plan" *ngIf="isMyTeamAnswering | async">
            <button *ngIf="(answeringResult | async)" class="btn circle answer-right">
              <img
                src="assets/icons/cake-candles-solid.svg"
                width="60"
                alt=""
              />
            </button>
            <button *ngIf="!(answeringResult | async)" class="btn circle answer-wrong">
              <img src="assets/icons/poo-solid.svg" width="60" alt="" />
            </button>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #lobby>
    <div class="wrapper first-plan">
      <button class="btn btn-primary p-3" (click)="changeTeam()">
        <h2 class="m-0">Choose a team</h2>
      </button>
    </div>
  </ng-template>
</div>
