<div class="card bg-dark text-light">
  <div class="card-body">
    <h4 class="card-title mb-4">Menu</h4>
    <button class="btn btn-warning w-100 mb-3" (click)="changeName()">
      <i class="fa-solid fa-pen"></i> Name
    </button>
    <button class="btn btn-warning w-100 mb-3" (click)="changeTeam()">
      <i class="fa-solid fa-people-group"></i> Team
    </button>
    <button class="btn btn-warning w-100 mb-3" (click)="changeIcon()">
      <i class="fa-regular fa-face-smile-wink"></i> Avatar
    </button>
    <button class="btn btn-warning w-100 mb-3" (click)="close()">Back</button>
  </div>
</div>
