<div class="card h-100 bg-dark border-success text-white">
  <div class="card-header text-success border-success">
    <div class="card-title">
      <h4>Sound</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="card-title"><h4>System</h4></div>
    <div class="button-grid">
      <button
        *ngFor="let s of systemSounds"
        class="btn sound-button"
        [ngClass]="{ 'btn-success': !s.audio.paused , 'btn-primary': s.audio.paused }"
        (click)="playOrPause(s.audio)"
      >
        {{ s.name }}
      </button>
    </div>
    <div class="card-title"><h4>Memes</h4></div>
    <div class="button-grid">
      <button
        *ngFor="let s of memeSounds"
        class="btn sound-button"
        [ngClass]="{ 'btn-success': !s.audio.paused , 'btn-primary': s.audio.paused }"
        (click)="playOrPause(s.audio)"
      >
        {{ s.name }}
      </button>
    </div>
  </div>
</div>
