<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h5 class="m-0">Players</h5>
    </div>
  </div>

  <div *ngFor="let team of teamsObject">
    <div class="d-flex justify-content-between align-items-start">
      <h6 class="m-3"><div [ngClass]="{
                    purple: team.name === Teams.PURPLE,
                    yellow: team.name === Teams.YELLOW,
                    cyan: team.name === Teams.CYAN,
                    amber: team.name === Teams.AMBER
                            }" class="d-inline-block mt-1 me-1"></div>{{team.name}}</h6>
      <button *ngIf="team.name === NO_TEAM_NAME" class="btn m-2 py-1 btn-secondary" (click)="shuffleLobby()">shuffle
      </button>
    </div>
    <ol class="list-group list-group-numbered">
      <li *ngFor="let player of team.players" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{player.name}}</div>
        </div>
        <span class="badge bg-primary rounded-pill"
              [ngClass]="{
              'bg-success': player.online && player.pingMS < 300,
              'bg-warning': player.online && player.pingMS > 300,
              'bg-danger': !player.online
              }"
        >
          {{player.online ? player.pingMS + ' ms' : 'offline'}}
        </span>
      </li>
    </ol>
  </div>
</div>


