<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <div class="btn-group">
        <button class="btn btn-sm btn-primary" (click)="refresh()">refresh</button>
        <button class="btn btn-sm btn-primary" (click)="isHidden=!isHidden"> {{isHidden ? 'expand ' : 'hide '}}files</button>
        <button class="btn btn-warning" (click)="addFromAllImages()">Сделать Слайды из всех фалов вьера. НЕЛЬЗЯ ОТМЕНИТЬ</button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="!isHidden">
    <div class="image-container">
      <div class="image-item" *ngFor="let i of listOfFiles" >
        <img [src]="i.url" [alt]="i.fileName" (click)="addSlideWithImage(i)">
        <div class="image-title" >{{i.fileName}}</div>
      </div>
    </div>
  </div>
</div>
