<div class="card bg-dark h-100">
  <div class="card-header">
   <button class="btn btn-secondary" (click)="refresh()">
     <i class="fa fa-refresh"></i>
   </button> <h5 class="text-light">{{folderPath | async}}\...</h5>
  </div>
  <div class="card-body h-100">
    <div class="file-container">
      <div class="item" *ngFor="let fileObj of filteredFiles | async">
        <app-image-card
          *ngIf="fileObj.type === 'image'"
          [imageFile]="fileObj"
          (createSlideWithImage)="createSlideWithImage($event)"
          (addImageToSlide)="addImageToSlide($event)">
        </app-image-card>

        <app-audio-card
          *ngIf="fileObj.type === 'audio'"
          [audioFile]="fileObj"
          (add)="createSlideWithAudio($event)">
        </app-audio-card>
      </div>
    </div>
  </div>
</div>
