<div #waveform></div>

<label for="customRange1" class="form-label">Zoom</label>
<input type="range" class="form-range" id="customRange1" max="100" value="0" (input)="zoomChange($event)">

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <button type="button" class="btn btn-secondary" (click)="backward()">Backward 5s</button>
  <button type="button" class="btn btn-primary" (click)="play()">Play/Pause</button>
  <button type="button" class="btn btn-secondary" (click)="forward()">Forward 5s</button>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="isLoop" id="loop">
  <label class="form-check-label" for="loop">
    Loop
  </label>
</div>


