:host {
  height: 100%;
  width: 20rem;
}

.stats-container {
  height: 6rem;
}

.view-mode{
  .btn {
    width: 2.5rem;
    font-size: 1rem;
  }
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-slide {
  display: flex;
  gap: 0.25rem;
  .btn {
    width: 2.5rem;
    font-size: 1rem;
  }
}

.toxic-icon{
  font-size: 1.2rem;
}
