<ng-container *ngIf="remoteScreen | async as remoteScreen">
  <ng-container [ngSwitch]="remoteScreen">
    <ng-container *ngSwitchCase="screenType.DEFAULT">
      <app-default-screen></app-default-screen>
    </ng-container>
    <ng-container *ngSwitchCase="screenType.BREAK">
      <app-break-screen></app-break-screen>
    </ng-container>
    <ng-container *ngSwitchCase="screenType.CONNECT">
      <app-connect-screen></app-connect-screen>
    </ng-container>
    <ng-container *ngSwitchCase="screenType.INFO">
      <app-info-list></app-info-list>
    </ng-container>
    <ng-container *ngSwitchCase="screenType.QUESTION">
      <app-image-question></app-image-question>
    </ng-container>
  </ng-container>
</ng-container>
