<ng-container *ngIf="!(connectInfo | async); else connectTem">
  <ng-container *ngIf="slide | async as slide">
    <ng-container [ngSwitch]="slide.type">
      <ng-template [ngSwitchCase]="slideType.break">
        <app-break-screen></app-break-screen>
      </ng-template>
      <ng-template [ngSwitchCase]="slideType.info">
        <app-info-screen></app-info-screen>
      </ng-template>
      <ng-template [ngSwitchCase]="slideType.round">
        <app-round-screen></app-round-screen>
      </ng-template>
      <ng-template [ngSwitchCase]="slideType.questionWithImage">
        <app-image-question></app-image-question>
      </ng-template>
      <ng-template [ngSwitchCase]="slideType.questionWithAudio">
        <!--        TODO-->
      </ng-template>
      <ng-template [ngSwitchCase]="slideType.result">
        <app-result-screen></app-result-screen>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #connectTem>
  <app-connect-screen></app-connect-screen>
</ng-template>
