<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h6>Teams</h6>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let teamObj of teams | async">
      <div
        [ngClass]="{
      purple: teamObj.team === teamColors.PURPLE,
      yellow: teamObj.team === teamColors.YELLOW,
      cyan: teamObj.team === teamColors.CYAN,
      amber: teamObj.team === teamColors.AMBER
    }"
        class="circle"
      >

      </div>
      <div>{{ teamObj.team }}</div>
      <div *ngFor="let player of teamObj.players">{{player.name}}</div>
    </div>
  </div>
</div>

