<div class="card bg-dark border-primary text-white">
  <div class="card-header border-primary text-primary">
    <div class="card-title">
      <h4>Teams</h4>
    </div>
  </div>
  <div class="card-body dfg" *ngIf="teamsData | async as data">
    <div *ngFor="let teamData of data">
      <div class="team-row">
        <div
          [ngClass]="{
            purple: teamData.team === teamColors.PURPLE,
            yellow: teamData.team === teamColors.YELLOW,
            cyan: teamData.team === teamColors.CYAN,
            amber: teamData.team === teamColors.AMBER,
            lobby: teamData.team === 'Lobby'
          }"
          class="circle team-circle"
        ></div>
        <div class="team-name">{{ teamData.team }}</div>
        <div class="team-players">
          <i class="fa-solid fa-user"></i> {{ teamData.players.length }}
        </div>
        <div class="team-score" *ngIf="isTeam(teamData.team)">
          <i class="fa-solid fa-star"></i> {{ teamData.score }}
        </div>
      </div>
      <div class="player-list">
        <div *ngFor="let player of teamData.players" class="player-row">
          <div class="p-icon">
            <i
              class="{{ player.icon }} {{
                player.team?.toLowerCase()
              }}-color stroked"
            ></i>
          </div>
          <div class="p-name">
            {{ player.name }}
          </div>
          <div class="p-ping">
            {{ player.pingMS }}
          </div>
          <div class="p-actions">
            <div class="btn-group btn-group-sm">
              <button
                class="btn btn-outline-danger"
                (click)="deletePlayer(player)"
              >
                <i class="fa-solid fa-user-slash"></i>
              </button>
              <button class="btn btn-outline-warning">
                CT
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
